body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

h1 {
	font-family: "Futura", serif;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 7px;
}

h2 {
	font-size: 20px;
	letter-spacing: 3px;
}

h3 {
	font-weight: normal;
	font-size: 16px;
}

h4 {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0px;
}
