.book {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: auto;
	padding: 10px;

	border: 0.5px solid #cccccc;
	border-radius: 7px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);

	width: 200px;
	height: 50px;
	background-color: pink;

	text-align: center;
	text-transform: uppercase;
	color: white;
	text-shadow: 1px 1px 2px gray;
	font-size: 0.55em;
	letter-spacing: 1px;
	line-height: 1em;
}

.book-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
    width: 200px;
    height: auto;
    border-radius: 7px;
    overflow:hidden;
    transition: transform 0.3s;
}
.book-img:hover {
	transform: scale(1.1);
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: auto;
	padding: 10px;

	/*border: 0.5px solid #cccccc;*/
	border-radius: 7px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);

	text-align: center;
	text-transform: uppercase;
	color: white;
	text-shadow: 1px 1px 2px gray;
	font-size: 0.55em;
	letter-spacing: 1px;
	line-height: 1em;

	transition: transform 0.3s;
}
.box:hover {
	transform: scale(1.1);
}